OPENAI_API_KEY=
GEMINI_API_KEY=
PERPLEXITY_API_KEY=

POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=

DB_HOST=
DB_PORT=

DATABASE_URL=

VITE_KAKAO_MAP_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB_INDEX=

REDIS_URL=

ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=